.our-team {
    background-color: var(--bg-color);
    text-align: center;
}

.our-team__title {
    font-size: 36px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}